services:
  cruds.criteria.entity:
    class: ScayTrase\Api\Cruds\Criteria\EntityCriteriaConfigurator
    arguments:
    - "@cruds.property_mapper"
    - "@cruds.reference_provider"

  cruds.reference_provider:
    alias: cruds.reference_provider.reference_loader

  cruds.reference_provider.reference_loader:
    class: ScayTrase\Api\Cruds\LoadingReferenceProvider
    arguments:
    - "@doctrine"

  cruds.factory.reflection:
    class: ScayTrase\Api\Cruds\ReflectionConstructorFactory
    abstract: true

  cruds.processor.property_access:
    class: ScayTrase\Api\Cruds\PropertyAccessProcessor

  cruds.api.router_loader:
    class: ScayTrase\Api\Cruds\Routing\EntityRouteLoader
    tags:
    - { name: routing.loader }

  cruds.api.listener.param_converter:
    class: ScayTrase\Api\Cruds\Listener\CrudsParamConverter
    arguments:
    - "@router"
    tags:
    - { name: kernel.event_listener, event: kernel.request, method: onCrudRequest }

  cruds.api.listener.response_normalizer:
    class: ScayTrase\Api\Cruds\Listener\ResponseNormalizerListener
    arguments:
    - "@serializer"
    - "@router"
    tags:
    - { name: kernel.event_listener, event: kernel.view, method: filterResponse, priority: -100 }

  cruds.api.listener.response_serializer:
    class: ScayTrase\Api\Cruds\Listener\ResponseFormatterListener
    arguments:
    - "@serializer"
    - "@router"
    tags:
    - { name: kernel.event_listener, event: kernel.view, method: filterResponse, priority: -101 }
