language: php

php:
  - 7
  - 7.1
  - 7.2
  - nightly

env:
  - PACKAGES='symfony/symfony=2.8.*'
  - PACKAGES='symfony/symfony=3.2.*'
  - PACKAGES='symfony/symfony=3.3.*'
  - PACKAGES='symfony/symfony=~3.4'
  - PACKAGES='symfony/symfony=~4.0'

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - env: PACKAGES='symfony/symfony=4.1.*'

before_install:
  - travis_retry composer self-update

install:
  - composer require --no-update ${PACKAGES}
  - composer --prefer-dist install

script:
  - mkdir -p build
  - SERIALIZER=jms vendor/bin/phpunit --colors -c phpunit.xml
  - SERIALIZER=symfony vendor/bin/phpunit --colors -c phpunit.xml
