<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        syntaxCheck="false"
        bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="Unit">
            <directory>./Tests/Unit/</directory>
        </testsuite>
        <testsuite name="Controller">
            <directory>./Tests/Controller/</directory>
        </testsuite>
        <testsuite name="Configuration">
            <directory>./Tests/Configuration/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests/</directory>
                <directory>./Resources/</directory>
                <directory>./vendor/</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./vendor/</directory>
            <directory>./build/</directory>
            <directory>./target/</directory>
            <directory>./Tests/</directory>
        </blacklist>
    </filter>
</phpunit>
